* {
    margin: 0;
    padding: 0;

}

.cabeçalho {
    background-color: #a17042;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 2rem;
}

.grid-itens {
    border: 1px solid #ddd;
    padding: 3rem;
}

footer {
    background-color: #a17042;
    color: #fff;
    text-align: center;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}